form{
    border: 1px solid grey;
    border-radius: 10px; /*side diya gol*/
    padding:30px; /*box ar charpashe jaiga bare*/
    width: 500px;
    margin: 5px auto;/* auto mane center */
    position: relative;/*akhon form ar chardik or upper , lower limit */
}

p{
    background-color: rgb(32, 32, 94);
    color: white;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 5px;
    position: absolute;
    top: -30px;
    left: 350px;
}


label{
    font-size: 20px;
    font-weight: bold;
}
input{
    border: 2px solid red;
    border-radius: 5px;
}
textarea{
    border: 2px solid red;
    border-radius: 5px;
}
button{
  
    border-radius: 5px;
    background-color: rgb(45, 45, 116);
    color: white;
    width: 70px;
    height: 35px;
    
}
button:hover{
     background-color: red;
}

#email input, #name input {
    margin-left: 40px;
    width: 350px;
    height: 20px;
}
#msg textarea {
    margin-left: 20px;
    
    width: 350px;
}

#email ,#name , #msg{
    margin-bottom: 15px;
}

